

<h1>Contact Us</h1>
<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://webhostinggeeks.com/blog/wp-content/uploads/2012/05/721781_small.jpg" alt="Pick me">
      <div class="carousel-caption">
    	<h3>This is slide 1</h3>
    	<p>Slide 1 says blah blah blah</p>
      </div>
    </div>
    <div class="item">
      <img src="http://fc00.deviantart.net/fs70/f/2012/352/8/d/sky___free_to_use_by_renkat-d5of0a7.jpg" alt="Nope">
      <div class="carousel-caption">
        <h3>This is slide 2</h3>
    	<p>Slide 2 says tik tok tik top</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.royaltyfreeimages.net/wp-content/uploads/2011/01/royalty-free-images-for-commercial-use.jpg" alt="Ee hah">
      <div class="carousel-caption">
        <h3>This is slide 3</h3>
    	<p>Slide 3 says Hamara Bajaj</p>
      </div>
    </div>
  </div>
	
  
    ...
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>